@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

  .faq-item{
    @apply flex w-full justify-between rounded-lg bg-orange-100 px-4 py-2 text-left text-lg 
    font-medium text-orange-900 hover:bg-orange-200 focus:outline-none focus-visible:ring 
    focus-visible:ring-orange-500/75;
  }

}





/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/