body {
    background-color: rgba(7, 16, 49, 1);
    color:#ffffff;
}


/* TITLES & FLEX*/

.page-title {
    color: #f5f6f7;
    font-family: "Inter-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
   padding-top: 2%;
    white-space: nowrap;
}

.flex-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-self: center;
    left: 0;
    top: 0;
    margin-left: 21%;
    margin-right: 21%;
}

/* Will have to do page math thing to size it correctly*/
.flex-container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    background-color: rgba(42, 42, 64, 1);
    border-radius: 20px;
    height: 170px;
    position: relative;
    width: 1120px;
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0;
}

.listPeople {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-self: center;
    align-items: center;
    width: 1120px;
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 30px;
    font-weight: 500;
    left: 20px;
    letter-spacing: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}

.projCard {
    align-items: center;
    padding: 10px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.projCard:hover {
    background-color: #374D76;
}


/* FLEX FOR PAGE SUBHEADINGS*/
.adv1-title {
    flex: 2;
}

.adv2-title {
    flex: 2;
}

.adv3-title {
    flex: 1;
}

.pitch-title1 {
    flex: 2;
}

.pitch-title2 {
    flex: 2;
}

.pitch-title3 {
    flex: 1;
}

.pitch-title4 {
    flex: 1;
}

.dir-title1 {
    flex: 1;
}

.dir-title2 {
    flex: 1;
}

.dir-title3 {
    flex: 1;
}

.dir-title4 {
    flex: 1;
}

.dir-title5 {
    flex: 1;
}


/* FLEX FOR COMPONENT SUBHEADINGS */
.stuCar1 {
    flex: 2;
}

.stuCar2 {
    flex: 2;
}

.stuCar3 {
    flex: 1;
}

.stuCar4 {
    flex: 1;
}

.advCar1 {
    flex: 1;
}

.advCar2 {
    flex: 2;
}

.advCar3 {
    flex: 1;
}

.pplCar1 {
    flex: 1;
}

.pplCar2 {
    flex: 1;
}

.pplCar3 {
    flex: 1;
}

.pplCar4 {
    flex: 1;
}

.pplCar5 {
    flex: 1;
}



/* POPUPS*/

.form {
    color: black;
}

.desc {
    background-color: #f5f6f7;
}

.descHeader {
    color: black;
}

.descText {
    color: black;
}

.clickDes {
    align-self: center;
    float: inherit;
    background: none;
    border: none;
    display: flex;
    margin: auto;
}


/* BUTTONS */

.add {
    background-color: rgba(34, 136, 76, 1);
    color: #f5f6f7;
    border: none;
    font-size: 60px;
    font-family: "Inter-Regular", Helvetica;
    border-radius: 10px;
    float: right;
    height: 74px;
    position: relative;
    top: 1px;
    width: 74px;
}

.joinButton {
    background-color: rgba(34, 136, 76, 1);
    color: #f5f6f7;
    border: none;
    font-size: 30px;
    font-family: "Inter-Regular", Helvetica;
    border-radius: 10px;
    float: right;
    height: 60px;
    width: 207px;
}

.closeButton {
    background-color: rgba(228, 130, 73, 1);
    color: black;
    border: none;
    font-size: 30px;
    border-radius: 15px;
    height: 60px;
    position: relative;
    width: 60px;
    height: 54px;
    float: right;
    /* left: 3px;
    position: absolute;
    top: 3px;
    width: 54px; */
}

.deleteButton {
    background-color: transparent;
    color: rgba(34, 136, 76, 1);
    border: none;
    font-size: 30px;
    font-family: "Inter-Regular", Helvetica;
}


/* TEXT */

.multiselect {
    color: black;
}

